<ui-lib-card
  class="control-group-card"
  [bordered]="true"
  [showFooter]="false"
  [showHeader]="headerVisible()"
  [subtitle]="description() || null"
  [style.--uilib-card-body-padding]="'1rem'"
>
  @if (headerVisible()) {
    <div card-header class="control-group__header">
      @if (title()) {
        <div class="control-group__title">{{ title() }}</div>
      }
      <ng-content select="[actions]"></ng-content>
    </div>
  }

  <div class="control-group__grid">
    <ng-content></ng-content>
  </div>
</ui-lib-card>
