<div
  class="css-vars-table"
  [class.css-vars-table--no-default]="!showDefault()"
  role="table"
  [attr.aria-label]="'CSS custom properties'"
>
  <div class="css-vars-table__row css-vars-table__row--header" role="row">
    <span class="css-vars-table__cell" role="columnheader">Variable</span>
    @if (showDefault()) {
      <span class="css-vars-table__cell css-vars-table__cell--default" role="columnheader">Default</span>
    }
    <span class="css-vars-table__cell css-vars-table__cell--description" role="columnheader">Description</span>
  </div>

  @for (row of rows(); track row.variable) {
    <div class="css-vars-table__row" role="row">
      <code class="css-vars-table__cell css-vars-table__var" role="cell">{{ row.variable }}</code>
      @if (showDefault()) {
        <span class="css-vars-table__cell css-vars-table__cell--default" role="cell">
          @if (extractColor(row.default); as color) {
            <span class="css-vars-table__swatch" [style.--swatch]="color">{{ row.default ?? '' }}</span>
          } @else {
            <code class="css-vars-table__default">{{ row.default ?? '' }}</code>
          }
        </span>
      }
      <span
        class="css-vars-table__cell css-vars-table__cell--description css-vars-table__description"
        role="cell"
        [innerHTML]="row.description"
      ></span>
    </div>
  }
</div>
