@if (isSingleTab()) {
  <ui-lib-code-snippet
    [language]="tabs()[0]!.language"
    [code]="tabs()[0]!.code"
    [showLineNumbers]="showLineNumbers()"
  />
} @else {
  <div class="doc-code-example">
    <ui-lib-tabs
      variant="minimal"
      size="sm"
      ariaLabel="Code example"
      [defaultValue]="tabs()[0]!.value"
    >
      @for (tab of tabs(); track tab.value) {
        <ui-lib-tab [value]="tab.value" [label]="tab.label">
          <ui-lib-code-snippet
            [language]="tab.language"
            [code]="tab.code"
            [showLineNumbers]="showLineNumbers()"
            [showWindowChrome]="false"
          />
        </ui-lib-tab>
      }
    </ui-lib-tabs>
  </div>
}
